<div class="pagination-wrapper">
  Show
  <div class="form-group">
    <label class="sr-only" for="paginationSelect">Items per page</label>
    <select
      (change)="selectValueChanged($event)"
      [(ngModel)]="planetsPerPage"
      [disabled]="disabled"
      class="form-control"
      id="paginationSelect"
    >
      <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
    </select>
  </div>
  entries
</div>
