<nav *ngIf="!error">
  <button type="button" (click)="goBack()" class="btn btn-primary">
    Back to the list
  </button>
</nav>
<main>
  <app-error *ngIf="error">{{ error }}</app-error>
  <div *ngIf="planet && !error" class="content">
    <h1>{{ planet.name }}</h1>
    <h5>Details:</h5>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rotation Period</td>
          <td>{{ planet.rotation_period }}</td>
        </tr>
        <tr>
          <td>Orbital Period</td>
          <td>{{ planet.orbital_period }}</td>
        </tr>
        <tr>
          <td>Diameter</td>
          <td>{{ planet.diameter }}</td>
        </tr>
        <tr>
          <td>Climate</td>
          <td>{{ planet.climate }}</td>
        </tr>
        <tr>
          <td>Gravity</td>
          <td>{{ planet.gravity }}</td>
        </tr>
        <tr>
          <td>Terrain</td>
          <td>{{ planet.terrain }}</td>
        </tr>
        <tr>
          <td>Surface Water</td>
          <td>{{ planet.surface_water }}</td>
        </tr>
        <tr>
          <td>Population</td>
          <td>{{ planet.population }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
