ul {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.planet {
  animation: appear 0.5s ease;
  list-style: none;
  margin-bottom: 10px;
  padding: 5px;
}

.content {
  min-height: 360px;
  margin-bottom: 15px;
}

.card {
  background-color: inherit;
  cursor: pointer;
}
