<header>
  <h1>List of planets</h1>
</header>
<main>
  <div class="row">
    <div class="form-group col">
      <label class="sr-only" for="searchInput">Search</label>
      <input
        (input)="search($event.target.value)"
        [(ngModel)]="searchInput"
        [disabled]="isLoading"
        class="form-control"
        id="searchInput"
        placeholder="Search"
        type="text"
      />
    </div>
  </div>
  <div class="content">
    <ul *ngIf="isLoading === false" class="row">
      <li
        (click)="loadDetails(planet.url)"
        *ngFor="let planet of planets"
        class="planet col-md-4 col-lg-3"
      >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ planet.name }}</h5>
            <p class="card-text">Gravity: {{ planet.gravity }}</p>
            <button
              (click)="loadDetails(planet.url)"
              class="btn btn-primary"
              type="button"
            >
              Details
            </button>
          </div>
        </div>
      </li>
    </ul>
    <app-loading *ngIf="isLoading === true && !isError"></app-loading>
    <app-error *ngIf="isError">
      {{
        errorMessage
          ? errorMessage
          : 'Error occurred. Check your internet confection and try again later.'
      }}
    </app-error>
  </div>
  <div *ngIf="planetsCount" class="row">
    <div class="col-md col-sm-12">
      <app-page-size
        (valueChanged)="itemsPerPageChanged($event)"
        [disabled]="isLoading"
        [planetsPerPage]="planetsPerPage"
      ></app-page-size>
    </div>
    <div class="col-md col-sm-12">
      <div class="float-md-right">
        <ngb-pagination
          [collectionSize]="planetsCount"
          [disabled]="isLoading"
          [pageSize]="planetsPerPage"
          [(page)]="page"
          (pageChange)="pageChanged($event)"
          [maxSize]="5"
          [rotate]="true"
          [ellipses]="false"
          aria-label="Default pagination"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</main>
