/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Oswald", sans-serif;
  color: #f5f5f5;
  background-color: #2d2d2d;
}
h1 {
  color: #ff5956;
  padding: 30px 0;
}
h5 {
  color: #ff5956;
  margin-bottom: 15px;
}

.form-control,
.form-control:focus,
.form-control:disabled {
  border-color: #ff5956;
  border-width: 2px;
  background-color: #2d2d2d;
  color: #fafafa;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  caret-color: #ff5956;
  height: 50px;
  font-size: 1.1rem;
}

.form-control:disabled {
  border-color: #d5d5d5;
}

.page-link {
  background-color: #2d2d2d;
  line-height: 30px;
  border-color: #ff5956;
  border-width: 2px;
}

.page-item.disabled .page-link {
  background-color: #cc3e3b;
  border-color: #cc3e3b;
  color: #fff;
}

.page-link:focus {
  box-shadow: none;
}

.page-link:hover {
  background-color: #fafafa;
}

.message {
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
